name: Build Bun Project on Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [bun-linux-x64, bun-windows-x64, bun-darwin-x64] 

    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.21

      - name: Install Dependencies
        run: |
          bun install

      - name: Build Project
        run: |
          bun build --target=${{ matrix.target }} --compile --minify --sourcemap --bytecode index.ts --outfile dist/${{ matrix.target }}

      - name: Archive build artifacts
        if: success()
        run: |
          mkdir -p artifacts
          cp -r dist/* artifacts/
          
      - name: Upload Artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: bun-build-${{ matrix.target }}
          path: artifacts/
