name: Build Bun Project on Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
  
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.21

      - name: Install Dependencies
        run: |
          bun install

      - name: Build Project
        run: bun run build-all

      - name: Upload Release Assets
        if: success()
        uses: AButler/upload-release-assets@v3.0
        with:
          files: "artifacts/*"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
  
  publish-to-npm:
    permissions:
      contents: read
      id-token: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.21

      - name: Install Dependencies
        run: bun install
      
      - name: Build for Publishing
        run: bun run build-node && chmod +x index.js

      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          bun publish --access public
